* {
	margin: 2;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body h3 {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5rem;
	margin-bottom: 5rem;	
}
h1 {
	text-transform: uppercase;
	color: blue;
	font-size: 50px;


}

.qualities {
	margin: auto;
	margin-bottom: 2rem;
	text-align: center;
	/*font-size: 50px;
	margin: auto;*/

}

input[type="text"] {
	border-width: 2px;
	border-color: blue;
	border-style: solid;
}

input[type="email"] {
	border-width: 2px;
	border-color: blue;
	border-style: solid;
}

input[type="number"] {
	border-width: 1px;
	border-color: blue;
	border-style: solid;
}

button {
	color: white;
	background-color: green;
}


form > label {
	color: blue;
	text-align: center;
}

textarea {
	resize: none;
	width: 40%;
	height: 50%;
}

