* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 2rem;

}


.topnav {
	display: flex;
	align-content: space-between;
	background-color: #f5f4f2; 
	margin-top: 0.5rem; 
}

.buildingbusiness {
	background-color: black; color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 50px;
}

.picture1 {
	margin-bottom: 2rem;
	margin-top: 2rem;
	width: 40%;
}

.form {
	background-color: black; color: white;
}

.maps {
	align-content: center;
	width: 500px;
  	height: 300px; 

}

.button1 {
	margin-bottom: : 2rem;
	padding-bottom: 2rem;
}

footer{
	box-sizing: border-box;
	margin-top: 3rem;
	margin-bottom: 5rem;
	align-content: center;
	text-align: center;

}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 600%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  margin-left: 600%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left: 600%;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin-left: 600%;
}



 
